<md-button ng-click="notificationCtrl.removeNotification()" class="notificationContainer md-raised"
           ng-class="{
           'md-primary' : notificationCtrl.notification.category === 'info',
           'md-accent' : notificationCtrl.notification.category === 'warning',
           'md-warn' : notificationCtrl.notification.category === 'error'}">
  <div
    layout
    layout-margin
    layout-fill
    layout-align="space-around center">
    <div flex="grow" class="md-title">{{notificationCtrl.notification.title || notificationCtrl.notification.category}}</div>
    <div flex="grow" class="md-caption">{{notificationCtrl.notification.text}}</div>
    <div class="closeIcon">
      <md-button class="md-icon-button md-accent closeIcon" aria-label="More">
        <md-icon md-svg-icon="/assets/icons/ic_close_black_16px.svg"></md-icon>
      </md-button>
    </div>
  </div>
</md-button>
